# Intro to python for data science

In [2]:
# open anaconda

x = 35e3
print(type(x))

<class 'float'>

In [3]:
y = 12E4
print(type(y))

<class 'float'>

In [6]:
x = int(1)
print(type(x))

<class 'int'>

In [8]:
x = 'rafiq'
print(type(x))

<class 'str'>

In [9]:
thisList = ['rafiq', 'alex', 'tom']
for x in thisList:
    print(thisList.pop())

tom
alex

In [10]:
print(thisList)

['rafiq']

In [11]:
thisList = list(('apple', 'banana', 'cherry'))
thisList

['apple', 'banana', 'cherry']

In [12]:
thisList2 = thisList.copy()
thisList2

['apple', 'banana', 'cherry']

In [13]:
thisList.clear()
thisList

[]

In [14]:
thisTuple = ('apple', 'banana', 'cherry')
thisTuple[1]

'banana'

In [15]:
thisTuple[1] = 'kiwi'
#errors on purpose

TypeError: 'tuple' object does not support item assignment

In [ ]:
`

In [16]:
del thisTuple
thisTuple

NameError: name 'thisTuple' is not defined

In [17]:
thisTuple = ('apple', 'banana', 'cherry')

In [28]:
thisSet = {'apple', 'cherry', 'banana'}
thisSet

{'apple', 'banana', 'cherry'}

In [29]:
print('banana' in thisSet)

True

In [30]:
print('cherry' in thisSet)

True

In [31]:
thisSet.add('orange')
thisSet

{'apple', 'banana', 'cherry', 'orange'}

In [32]:
thisSet.update(['mango', 'papaya', 'kiwi'])
thisSet

{'apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'papaya'}

In [33]:
print(len(thisSet))

7

In [34]:
thisSet.remove('orange')
thisSet

{'apple', 'banana', 'cherry', 'kiwi', 'mango', 'papaya'}

In [35]:
thisSet.discard('apple')
thisSet

{'banana', 'cherry', 'kiwi', 'mango', 'papaya'}

In [36]:
thisSet.pop()

'banana'

In [37]:
thisSet

{'cherry', 'kiwi', 'mango', 'papaya'}

In [40]:
thisSet.clear()
thisSet

set()

In [41]:
del thisSet

In [42]:
thisSet

NameError: name 'thisSet' is not defined

In [44]:
thisSet = set(('apple', 'cherry', 'banana'))
thisSet

{'apple', 'banana', 'cherry'}

In [45]:
print('apple' in thisSet)

True

In [46]:
thisSet2 = thisSet.copy()
thisSet2

{'apple', 'banana', 'cherry'}

In [47]:
thisSet.difference(thisSet2)

set()

In [48]:
thisSet.add('orange')
thisSet.difference(thisSet2)

{'orange'}

In [49]:
thisList.intersection(thisSet)

AttributeError: 'list' object has no attribute 'intersection'

In [51]:
thisSet2.difference(thisSet)

set()

In [52]:
thisDict = {'brand':'ford', 'model':'mustang', 'year':1964}

In [53]:
thisDict

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [55]:
if 'model' in thisDict:
    print('yes')

yes

In [56]:
thisDict.pop('model')
thisDict

{'brand': 'ford', 'year': 1964}

In [57]:
del thisDict

In [59]:
thisDict = dict(brand='ford', model='mustang', year=1964)
print(type(thisDict))

<class 'dict'>

In [60]:
x = 10
if x> 10:
    print('greater than 10')
elif x> 20:
    print('greater than 20')
else: 
    print('x is 10')

x is 10

In [61]:
x = 20
if x> 10:
    print('greater than 10')
elif x> 20:
    print('greater than 20')
else: 
    print('x is 10')

greater than 10

In [62]:
x = 30
if x> 10:
    print('greater than 10')
elif x> 20:
    print('greater than 20')
else: 
    print('x is 10')

greater than 10

In [63]:
x = 30
if x == 30:
    print('x is 30')
else:
    print('x is not 30')

x is 30

In [64]:
if x > 20: print('x > 20')

x > 20

In [65]:
a = 20
b = 30

print("A") if a > b else print("b")

b

In [67]:
b = 20
print("A") if a > b else print("=") if a == b else print('b')

=

In [68]:
a = 20
b = 30
print("A") if a > b else print("=") if a == b else print('b')

b

In [69]:
# lambda anonymous function
x = lambda a:a+10
print(x(5))

15

In [70]:
x = lambda a,b:a*b
print(x(5,6))

30

In [71]:
x = lambda a,b,c:a+b+c
print(x(2,3,5))

10

In [74]:
def myfunc(n):
    return lambda a: a*n

mydoubler=myfunc(2)
print(mydoubler(11))

22

In [76]:
cars = ['ford','volvo', 'bmw']

In [77]:
totcars = len(cars)
print(totcars)

3

In [78]:
cars.append('lexus')

In [79]:
cars

['ford', 'volvo', 'bmw', 'lexus']

OOP

1. Abstarct Classes -> no code
    'musical instrument'
2. Class -> 'blueprint' for and object
    'code involved, no 'space' is used
    i.e. folder
3. objects -> instance of a class
    takes up 'space'
    i.e. documents folder
4. Methods -> explicit actions
    copy, cut, paste, move, min, max
5. Events -> implicit actions
    scrollbar, audit, 
6. Properties -> attributes
    name, size, location, color, background, etc. 


OOP Principals
1. Inheritance
2. Polymorphism
3. Encapsulation

polymorphism / encapsulation
int x,y,z
x = 5, y = 6, z = x+y
str x,y,z
x='a', y='b', z = x+y

In [80]:
class MyClass:
    x = 5
    
p1 = MyClass()
print(p1.x)

5

In [81]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
p1 = Person('John', 36)
print(p1.name)
print(p1.age)

John
36

In [84]:
p2 = Person('Alex', 49)
print(p2.age)
print(p2.name)

49
Alex

In [85]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def myfunc(self):
        print('hello world from ' + self.name)
p1 = Person('Alex', 36)
p1.myfunc()

hello world from Alex

In [86]:
del p1

In [87]:
class Person:
    def __init__(abc,name,age):
        abc.name = name
        abc.age = age

p1 = Person('John', 36)
print(p1.name)
print(p1.age)

John
36

In [88]:
mytuple = ('apple', 'cherry', 'kiwi')
myit = iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

apple
cherry
kiwi

In [90]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a += 1
        return x

myclass = MyNumbers()
myiter = iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5
6

In [95]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        if self.a < 5:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration
            
myclass = MyNumbers()
myiter = iter(myclass)
for x in myiter:
    print(x)

1
2
3
4

In [94]:
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        if self.a <= 5:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration
            
myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
    print(x)

1
2
3
4
5

In [ ]:
!notepad mymodule.py

In [ ]:
# mymodule.py
def greeting(name):
    print('hello', name)

In [ ]:
import mymodule
mymodule(greeting('alex'))

In [ ]:
import mymodule.py as abc
abc.greeting('rafiq')

In [1]:
import datetime

x = datetime.datetime.now()
x

datetime.datetime(2019, 1, 21, 14, 11, 52, 473709)

In [2]:
x.year

2019

In [3]:
x.strftime("%A")

'Monday'

In [4]:
x.strftime("%a")

'Mon'

In [5]:
x.strftime("%w")

'1'

In [6]:
x.strftime("%d")

'21'

In [7]:
import json
x = '{"name":"John", "age":30,"city":"NYC"}'
y = json.loads(x)
print(y['age'])

30

In [8]:
print(json.dumps({'name':'john','age':30}))

{"name": "john", "age": 30}

In [9]:
print(json.dumps(['apple','banana']))

["apple", "banana"]

In [10]:
print(json.dumps('cherry'))

"cherry"

In [11]:
thisList = ['alex','tom']
print(json.dumps(thisList))

["alex", "tom"]

In [12]:
# import regex
import re
txt = 'this rain in Spain'
x = re.search('^The.*Spain*', txt)
print(x)

None

In [13]:
txt = 'The rain in Spain'
x = re.search('^The.*Spain*', txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [14]:
try:
    print(x)
except:
    print('x not defined')

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [16]:
try:
    print(z)
except:
    print('z not defined')

z not defined

In [17]:
try:
    print(g)
except NameError:
    print('var not defined')
except:
    print('dunno the issue')

var not defined

In [18]:
try:
    print('hello')
except:
    print('something went wrong')
else:
    print('all ok')

hello
all ok

In [19]:
try:
    x=5
    y=0
    x/y
except:
    print('idiot')
else:
    print('done')

idiot

In [21]:
try:
    x=5
    y=0
    x/y
except:
    print('idiot')
finally:
    print('all done')

idiot
all done

In [22]:
f = open('mymodule.py','r')
print(f.read())

def greeting(name):
	print('hello', name)

In [23]:
print(f.read(2))

In [24]:
print(f.readline())

In [31]:

#!notepad data.txt
f = open('data.txt','a')
f.write('this is a file with something')
f.close()

In [33]:
f = open('data2.txt','x')#tries to create a file if it doesn't exist
f.close()

FileExistsError: [Errno 17] File exists: 'data2.txt'

In [38]:
f = open('data.txt','rt') # read text, default
f = open('data.txt', 'rb') # read binary
f.close()

In [39]:
del f

In [40]:
import os
!dir
os.remove('data.txt')
!dir

 Volume in drive C is Windows
 Volume Serial Number is 9A32-08F8

 Directory of C:\Users\ahsng98k\Documents\EpicImport

01/21/19  02:43 PM    <DIR>          .
01/21/19  02:43 PM    <DIR>          ..
01/21/19  11:14 AM    <DIR>          .ipynb_checkpoints
01/21/19  02:40 PM                58 data.txt
01/21/19  02:40 PM                 0 data2.txt
01/21/19  02:43 PM            38,590 Intro to python for data science.ipynb
12/16/16  10:34 AM             1,561 lws_import_20161216.txt
12/21/16  10:45 AM             5,070 lws_import_20161221.txt
01/21/19  02:05 PM                42 mymodule.py
01/10/17  11:07 AM           437,102 OBC4NMAP48_20170110_080254_33163054.tsv
01/10/17  11:07 AM         7,716,164 OBC4NMAP48_20170110_081122_20186118.tsv
               8 File(s)      8,198,587 bytes
               3 Dir(s)  258,824,351,744 bytes free

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'data.txt'

In [43]:
# make directory
os.mkdir('work')
!dir

 Volume in drive C is Windows
 Volume Serial Number is 9A32-08F8

 Directory of C:\Users\ahsng98k\Documents\EpicImport

01/21/19  02:45 PM    <DIR>          .
01/21/19  02:45 PM    <DIR>          ..
01/21/19  11:14 AM    <DIR>          .ipynb_checkpoints
01/21/19  02:40 PM                58 data.txt
01/21/19  02:40 PM                 0 data2.txt
01/21/19  02:45 PM            38,953 Intro to python for data science.ipynb
12/16/16  10:34 AM             1,561 lws_import_20161216.txt
12/21/16  10:45 AM             5,070 lws_import_20161221.txt
01/21/19  02:05 PM                42 mymodule.py
01/10/17  11:07 AM           437,102 OBC4NMAP48_20170110_080254_33163054.tsv
01/10/17  11:07 AM         7,716,164 OBC4NMAP48_20170110_081122_20186118.tsv
01/21/19  02:45 PM    <DIR>          work
               8 File(s)      8,198,950 bytes
               4 Dir(s)  258,823,716,864 bytes free

In [44]:
# remove directory

os.rmdir('work')
!dir

 Volume in drive C is Windows
 Volume Serial Number is 9A32-08F8

 Directory of C:\Users\ahsng98k\Documents\EpicImport

01/21/19  02:45 PM    <DIR>          .
01/21/19  02:45 PM    <DIR>          ..
01/21/19  11:14 AM    <DIR>          .ipynb_checkpoints
01/21/19  02:40 PM                58 data.txt
01/21/19  02:40 PM                 0 data2.txt
01/21/19  02:45 PM            38,953 Intro to python for data science.ipynb
12/16/16  10:34 AM             1,561 lws_import_20161216.txt
12/21/16  10:45 AM             5,070 lws_import_20161221.txt
01/21/19  02:05 PM                42 mymodule.py
01/10/17  11:07 AM           437,102 OBC4NMAP48_20170110_080254_33163054.tsv
01/10/17  11:07 AM         7,716,164 OBC4NMAP48_20170110_081122_20186118.tsv
               8 File(s)      8,198,950 bytes
               3 Dir(s)  258,823,716,864 bytes free

In [45]:
!notepad userlist.csv

### powershell
.\userlist.csv
$userlist = import-csv .\userlist.csv
$userlist.count
$userlist.ou

In [49]:
import csv
with open('userlist.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['username', ' zipcode', ' ou']
['cruise', ' 90210', ' actors']
['mendez', ' 90000', ' actors']

### overview
basics
lists, tuple, dict, set
func, classes, modules
lambda
var
import and rename of modules
import mymodule as abc